.msg_main {

    height: 100%;
    border-radius: 10px;
    background-color: rgb(43, 45, 46);
    padding: 15px;
    position: relative;

}

.parti-main {
    position: absolute;
    max-height: 400px;
    width: calc(100% - 30px);
    border-radius: 10px;
    overflow-y: scroll;
    /* height: 0; */
    top: 15px;
    background-color: rgb(27, 26, 29);
    /* max-width: 80%; */
    padding: 15px;

}

.parti-main::-webkit-scrollbar {
    display: none;
}

.total-parti-main {
    display: flex;
    justify-content: space-between;
}

.list-parti {
    border-radius: 10px;
    background-color: rgb(46, 45, 48);
    padding: 15px;
}

.single-parti {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}


.msgs_box {
    max-height: calc(100% - 100px);
    height: auto;
    overflow-y: scroll;
    position: absolute;
    bottom: 90px;
    width: calc(100% - 30px);

}

.msgs_box::-webkit-scrollbar {
    display: none;
}

.msg_box {
    background-color: rgb(27, 26, 29);
    max-width: 80%;
    padding: 15px;
    border-radius: 10px 10px 10px 0;
    margin-top: 15px;
}

.nameTime {
    display: flex;
    justify-content: space-between;
}

.msgUser_div {
    margin-top: 5px;
}






.writeMsg_box {
    width: calc(100% - 30px);
    background-color: rgb(27, 26, 29);
    position: absolute;
    bottom: 15px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.writeMsg_box>input {
    width: 80%;
    height: 100%;
    background-color: transparent;
    padding: 0 5px;
    color: white;
    border: transparent;
    font-size: 15px;
}

.writeMsg_box>button {
    background-color: #3f8dfd;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}