.videos_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bor-r {
    border: 1px solid red;
}

.bor-y {
    border: 1px solid yellow;
}

#top_div {
    flex-wrap: wrap;
    overflow-y: scroll;
}

#top_div::-webkit-scrollbar,
#bottom_div::-webkit-scrollbar {
    display: none;
}

.bottom_div {
    order: 1;
    width: 100%;
    height: 20%;
}

.all-users {
    max-width: 100%;
    max-height: 100%;

    flex-wrap: wrap;
    /* height: 100%;
    width: 100%; */
    justify-content: center;
    display: flex;

}

.videoThumbnail {
    max-width: 70%;
    max-height: 70%;

    width: fit-content;
    border-radius: 20px;
    position: relative;
    object-fit: contain;
}

.videoThumbnail>video {
    height: fit-content;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.videoThumbnail>p {
    position: absolute;
    color: white;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 20px;
    border-radius: 5px;
    left: 42%;

}

.screen-share-div {
    height: 100%;
    width: 80%;
    position: relative;
}

.screen-share-div>video {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.myMicSpan {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 10px;
    border-radius: 60px;
}