.nav_main_div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    top: 0;
    z-index: 3;
}

.bor {
    border: 1px solid black;
}

.nav_logo>a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.nav_list_main>ul {
    display: flex;
    align-items: center;
}

.nav_list_main>ul>li {
    margin: 0 10px;
    list-style-type: none;
}

/* .nav_list_main>ul>li>a {
} */
.nav_list_main a {
    text-decoration: none;
    color: black;

}

.login-icon {
    position: relative;
}

.login-icon>button {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* .login-icon>button:active+.login-icon>div {
    display: block;
} */

.login-icon>div {

    position: absolute;
    right: 0;
    top: 24px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px 30px;
}

.login-icon>div>a {
    white-space: nowrap;
    /* padding: 5px 0; */
}

.login-icon>div>button {
    overflow: "hidden";
    text-overflow: "ellipsis";
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 505px;
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    width: auto;
    white-space: nowrap;
    text-align: center;
    float: right;
}

.menu-sidebar {
    display: none;
}

@media only screen and (max-width: 500px) {
    .menu-sidebar {
        display: block;
    }

}