.quiz_main {
    /* background-image: linear-gradient(to right, #7E87CA, #A83EA4); */
    height: 100%;
    /* padding: 40% 50px; */


}

.quiz_content {
    height: 100%;
    display: flex;
    align-items: center;
}

.quiz_quizArea {
    font-size: 30px;
    background-color: rgb(248, 248, 248);
    border-radius: 25px;
    width: 60%;

}

.quiz_bottomImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: auto;
}

.quiz_question {
    padding: 10px 30px;
    background-color: #308C99;
    padding: 10px 50px;
    border-radius: 25px 25px 0 0;
    color: white;
}

.quiz_options {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.quiz_options>label {
    margin: 10px 0;
}

.quiz_options>label>input {
    margin: 0 10px;
}

.quiz_submitBtn {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}


.thankyou {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}